@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
}

@layer base {
  :root {
    --primary-color: #3b82f6;
    --secondary-color: #1f2937;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
